li{
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #000000;
}

.header-list{
    text-align: right;
}

.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    height: 64px;
    padding: 8px 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    overflow-wrap: anywhere;
}

@media (any-hover: hover){
    .header-button{
        transition: 0.2s;
    }

    .header-button:hover{
        background-color: #eeeeee;
    }
}